
.open-sans-normal> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.text-primay{
    color:#FD6E0A;

}
.s-c{
    background-color: #FFF8F3;

}
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position:top left ,bottom right;

}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 160px;
    
}
nav ul {
    display: flex;
    
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;

}
.dark-2{
    color: #000000;
}
.btn-pry{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 19px 35px;
    border-radius: 5px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 230px;
}

.banner_containt{
    max-width: 550px;
    margin: 0px 0px 0px 130px;
    

}
.banner_g{
    font-size: 45px;
    font-weight: 600;

}
.banner_title{
    font-size: 85px;
    font-weight: bold;

}
.banner-profile{


}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;

}
.section-de{
    font-size: 18px;
    color: #757575;

}
main{
    max-width: 2240px;
    margin: 0px auto;
}
.about{
    border-radius: 40px;
    padding: 80px 100px 100px;
    text-align: center;
    margin: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;

}
.item-ds{
    font-weight: 700;
}
.sce{
    font-size: 18px;
    color: #757575;

}
.text-al{
    text-align: center;
    background-color: #FFFFFF;
    margin-top: 0px;
}
.tx-size{
    font-size: 18px;
    height: 0px;
    width: 909px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    

}
.skill{
    width: 267px;
    height: 377px;
    background-color: #FFFFFF;
     padding:30px ;
    box-shadow: 0px 6px 50px 0px;
    margin-top: 0px;

}
.skill-con{

    display: flex;
    gap: 24px;
   
}
.skill-title{
    font-size: 20px;
    font-weight: bold;
    
    float: left;
    margin-top: 70px;
    text-align: left;
    


}
.skill-dep{
    width: 201px;
    height: 190px;
    font-size: 16px;
    text-align: left;
    


}

.s-img{
    float: left;

}

footer{
    padding: 130px;
    display: flex;
    gap: 200px;
}
.footer-colum{
    width: 50%;
}
.p-s{
    width: 431px;
    height: 64px;
}